body{
    background-color: #e7ecef;
}

#header{
    background-color: #a3cef1;
    text-align: center;
    padding: 5px 5px 20px 5px;
}

#header h1{
    color: #274c77;
}

#header blockquote{
    background-color: #6096ba;
    border-top: 2px dotted #e7ecef;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content:  center;
    gap: 15px   ; 
    font-size: 20px;
}
.menu a{
    text-decoration: none;
    color: #274c77;
}

.gambar{
    text-align: center;
}

.fp::first-letter{
    color: black;
    font-size: 70px;
}

.koleksi{
    text-align: center;
}

.koleksi img{
    width: 200px;
}